In [65]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
import pickle

In [66]:
#chargement des données, répartition, shuffle

data=pd.read_csv('iris_dataset.csv')

In [67]:
#recherche des nans
data.isnull()

        id  sepal_length  sepal_width  petal_length  petal_width  species
0    False         False        False         False        False    False
1    False         False        False         False        False    False
2    False         False        False         False        False    False
3    False         False         True         False        False    False
4    False         False        False         False        False    False
..     ...           ...          ...           ...          ...      ...
145  False         False        False         False        False    False
146  False         False        False         False        False    False
147  False         False        False         False        False    False
148  False         False        False         False        False    False
149  False         False        False         False        False    False

[150 rows x 6 columns]

In [68]:
##verification : il n'y a plus de manquantes.
data.isna().sum()

id              0
sepal_length    0
sepal_width     3
petal_length    0
petal_width     1
species         0
dtype: int64

In [69]:
#il y a des nans, mais peu nombreuses : suppression de toutes les nans
data = data.dropna()

In [70]:
data

      id  sepal_length  sepal_width  petal_length  petal_width    species
0      1      5.138728     3.470118      1.441015     1.094873     setosa
1      2      4.849873     3.034931      1.414931     0.968687     setosa
2      3      4.715843     3.239083      1.295309     1.006643     setosa
4      5      4.988744     3.645049      1.417527     1.122947     setosa
5      6      5.430821     3.884073      1.699534     1.370708     setosa
..   ...           ...          ...           ...          ...        ...
145  146      6.664208     2.994751      5.219754     3.061857  virginica
146  147      6.319889     2.453381      5.035004     2.536681  virginica
147  148      6.488279     2.989227      5.203232     2.749461  virginica
148  149      6.228777     3.371570      5.416274     3.153742  virginica
149  150      5.879011     3.048696      5.059241     2.535001  virginica

[146 rows x 6 columns]

In [71]:
#changement de ID
data = data.set_index('id')

In [72]:
#répartition des variables

# X = feature values, all the columns except the last column
X = data.iloc[:, :-1]# y = target values, last column of the data frame
y = data.iloc[:, -1]#Split the data into 80% training and 20% testing
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [73]:
#vérifier les données : x_train
x_train

     sepal_length  sepal_width  petal_length  petal_width
id
6        5.430821     3.884073      1.699534     1.370708
28       5.210810     3.560722      1.493921     1.086128
128      6.078544     3.016861      4.913202     2.563017
133      6.416829     2.779047      5.595308     2.891634
18       5.114665     3.489777      1.392075     1.167161
..            ...          ...           ...          ...
75       6.396337     2.926166      4.310336     2.038432
111      6.492454     3.214989      5.087624     2.795497
16       5.705057     4.394665      1.491007     1.492671
96       5.706366     3.008395      4.173113     1.934174
107      4.870525     2.513694      4.475687     2.312215

[116 rows x 4 columns]

In [76]:
#vérifier les données : x_train
print(y_train)

id
6          setosa
28         setosa
128     virginica
133     virginica
18         setosa
          ...
75     versicolor
111     virginica
16         setosa
96     versicolor
107     virginica
Name: species, Length: 116, dtype: object

In [77]:
y_train = np.array(y_train)
#y_train.reshape(-1, 1)
print(y_train)

['setosa' 'setosa' 'virginica' 'virginica' 'setosa' 'setosa' 'virginica'
 'versicolor' 'versicolor' 'versicolor' 'virginica' 'virginica'
 'virginica' 'setosa' 'virginica' 'virginica' 'setosa' 'setosa'
 'virginica' 'setosa' 'setosa' 'setosa' 'versicolor' 'versicolor' 'setosa'
 'setosa' 'virginica' 'setosa' 'versicolor' 'versicolor' 'setosa'
 'versicolor' 'versicolor' 'virginica' 'setosa' 'virginica' 'virginica'
 'setosa' 'versicolor' 'versicolor' 'versicolor' 'versicolor' 'versicolor'
 'versicolor' 'setosa' 'virginica' 'versicolor' 'versicolor' 'setosa'
 'versicolor' 'setosa' 'virginica' 'setosa' 'setosa' 'versicolor'
 'virginica' 'versicolor' 'virginica' 'virginica' 'versicolor' 'setosa'
 'setosa' 'virginica' 'virginica' 'setosa' 'setosa' 'setosa' 'versicolor'
 'virginica' 'setosa' 'virginica' 'virginica' 'setosa' 'virginica'
 'versicolor' 'versicolor' 'virginica' 'setosa' 'virginica' 'versicolor'
 'virginica' 'versicolor' 'virginica' 'versicolor' 'setosa' 'versicolor'
 'versicolor' 'setosa' 'versicolor' 'virginica' 'setosa' 'versicolor'
 'versicolor' 'setosa' 'virginica' 'versicolor' 'versicolor' 'virginica'
 'setosa' 'virginica' 'setosa' 'versicolor' 'virginica' 'virginica'
 'virginica' 'virginica' 'versicolor' 'versicolor' 'virginica' 'virginica'
 'setosa' 'versicolor' 'virginica' 'setosa' 'versicolor' 'virginica']

In [78]:
y_train.shape

(116,)

In [79]:
#optimisation : gridsearchCV

#recherche des meilleurs hyperparamètres via gridsearchCV
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score
from sklearn.ensemble import RandomForestClassifier

params = { 
    'n_estimators': [200, 500],
    'max_features': ['auto', 'sqrt', 'log2'],
    'max_depth' : [4,5,6,7,8],
    'criterion' :['gini', 'entropy']
}

gs = GridSearchCV(RandomForestClassifier(), params, verbose = 1, cv = 5)

gs.fit(x_train, y_train)

display(print(gs.best_score_))
display(print(gs.best_estimator_))
display(print(gs.best_params_))

Fitting 5 folds for each of 60 candidates, totalling 300 fits
0.9739130434782608

None

RandomForestClassifier(max_depth=4, max_features='sqrt', n_estimators=200)

None

{'criterion': 'gini', 'max_depth': 4, 'max_features': 'sqrt', 'n_estimators': 200}

None

In [55]:
#entrainer le modèle

#entrainement
model = RandomForestClassifier(max_depth=4, max_features='sqrt', n_estimators=500)
model.fit(x_train, y_train) #Training the model

#test du modèle
predictions = model.predict(x_test)
print( classification_report(y_test, predictions) )
print( accuracy_score(y_test, predictions))

              precision    recall  f1-score   support

      setosa       1.00      1.00      1.00        12
  versicolor       1.00      0.78      0.88         9
   virginica       0.82      1.00      0.90         9

    accuracy                           0.93        30
   macro avg       0.94      0.93      0.92        30
weighted avg       0.95      0.93      0.93        30

0.9333333333333333

In [56]:
#pickling le modèle
filename = 'savedmodel.sav'
pickle.dump(model,open(filename,'wb'))

In [59]:
#vérifions si le pickle fonctionne
p=model.predict([[5.1,3.5,1.4,0.2]])
print(p[0])

setosa

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

In [60]:
load_model = pickle.load(open(filename, 'rb'))

In [63]:
k = load_model.predict(x_test)
print(k)

['setosa' 'virginica' 'setosa' 'setosa' 'setosa' 'virginica' 'setosa'
 'virginica' 'versicolor' 'setosa' 'setosa' 'virginica' 'virginica'
 'versicolor' 'virginica' 'setosa' 'versicolor' 'virginica' 'setosa'
 'versicolor' 'versicolor' 'virginica' 'setosa' 'virginica' 'setosa'
 'versicolor' 'versicolor' 'virginica' 'virginica' 'setosa']

In [62]:
result = load_model.predict([(6.0, 2.2, 4.0, 1.0)])
result.shape

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

(1,)